<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386478297945-kp34oi1cm83f92b0por6uk4m3gucqksf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386478297945-kp34oi1cm83f92b0por6uk4m3gucqksf</string>
	<key>API_KEY</key>
	<string>AIzaSyDCjtGCR1h9akzVX33160OAd7B0bGXGiBY</string>
	<key>GCM_SENDER_ID</key>
	<string>386478297945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.primeiro</string>
	<key>PROJECT_ID</key>
	<string>nurseflutter-20145</string>
	<key>STORAGE_BUCKET</key>
	<string>nurseflutter-20145.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386478297945:ios:ef4853a1ddae571256b248</string>
</dict>
</plist>